<nav class="sticky bottom-0 z-10 bg-white shadow-md">
    <div class="overflow-x-auto">
        <ul class="inline-flex text-sm">
            <li>
              <a (click)="goToPrevious()" [class.disabled]="disablePrevious" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
            </li>
            <li *ngFor="let page of visiblePages">
                <a (click)="goToPage(page)" [class.text-blue-600]="currentPage === page"
                  [class.bg-blue-50]="currentPage === page"
                  [class.hover:bg-blue-100]="currentPage !== page"
                  [class.text-gray-500]="currentPage !== page"
                  class="flex items-center justify-center px-3 h-8 leading-tight border border-gray-300 dark:border-gray-700 dark:bg-gray-700 dark:text-white">
                  {{ page }}
                </a>
            </li>
            <li>
              <a (click)="goToNext()" [class.disabled]="disableNext" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
            </li>
          </ul>
    </div>
</nav>
  