<app-header-filter (headerFilter)="filterUpdated.emit($event)" [title]="'Transactions'"></app-header-filter>
<div class="relative overflow-x-auto">
    <table class="w-full table-auto">
    <!--Table head-->
    <thead class="text-xs uppercase text-muted-foreground">
        <tr>
        <th class="py-2 text-left">profile</th>
        <th class="py-2 text-center">Amount</th>
        <th class="py-2 text-center">Reference#</th>
        <th class="py-2 text-center">Hash</th>
        <th class="py-2 text-center">Date</th>
        <th class="py-2 text-center">Service Used</th>
        <th class="py-2 text-center">View</th>
        </tr>
    </thead>
    <!--end Table head-->
    <!--Table body-->
    <tbody>
        <tr dashboard-transaction-row *ngFor="let transaction of transactions"
        [transaction]="transaction"
        class="border-b border-dashed border-border hover:bg-card">
        </tr>
    </tbody>
    <!--end::Table body-->
    </table>
</div>

