<div class="flex h-16 items-center bg-background">
  <div class="flex w-full items-center justify-between px-7 text-[13px] font-medium">
    <div class="text-muted-foreground/50">
      <span class="mr-2">{{ year }}©</span>
      <a href="" target="_blank" class="hover:text-primary">
        Rypay Admin
      </a>
    </div>
    <ul class="flex text-muted-foreground/50">
      <li class="hover:text-primary">
        <a href="https://riyadhmicrofinance.com/about" target="_blank" class="menu-link px-2">
          About us
        </a>
      </li>
      <li class="hover:text-primary">
        <a href="https://riyadhmicrofinance.com/privacy_policy" target="_blank" class="menu-link px-2">Privacy Policy</a>
      </li>
      <li class="hover:text-primary">
        <a href="https://riyadhmicrofinance.com/contactUs/termsAndConditions/" target="_blank" class="menu-link px-2">Terms and Conditions</a>
      </li>
    </ul>
  </div>
</div>
