<div data-e2e-id="overlay-panel-backdrop" (click)="closeOverlayPanel()" class="mdm:modal-backdrop overlay-backdrop lg:shadow-dialog fixed right-0 bottom-0 w-full h-[calc(100%-32px)] lg:h-full z-20"
[ngClass]="{'overlay-backdrop-opened content-before': animatePanel}" id="panel-overlay">
</div>
<div data-e2e-id="overlay-panel" class="block modal overlay-panel lg:shadow-dialog fixed right-0 w-full h-[calc(100%-32px)] lg:w-[605px] lg:h-full mdm:rounded-t-2xl z-20">
  <div class="flex-dc modal-content h-full w-full py-4 3xl:py-6 px-2 3xl:px-4 bg-white mdm:rounded-t-2xl">
    <!-- modal header -->
    <div *ngIf="showOverlayTitle" data-e2e-id="overlay-panel-header" class="modal-header relative px-2 flex-ic-jb flex-wrap mb-4 3xl:mb-6">
      <h4 *ngIf="overlayTitle" class="text-21 3xl:text-27 font-450 text-slb-gray-900 flex-ic gap-2 3xl:gap-4">
        <svg-icon data-e2e-id="overlay-panel-header-back-icon" data-e2e-id="overlay-back-btn" [src]="'assets/icons/heroicons/outline/left.svg'" *ngIf="showBackButton"
          class="flex cursor-pointer icon-gray text-18 3xl:text-24 leading-[1] mt-1 3xl:mt-1.5" (click)="backButtonClicked.emit()">
        </svg-icon>
        <span data-e2e-id="overlay-panel-header-title" class="lowercase">{{overlayTitle}}</span>
      </h4>
      <app-custom-button data-e2e-id="overlay-panel-add-btn" data-e2e-id="overlay-add-deldoc-btn" (click)="addButtonClicked.emit()" *ngIf="showAddIcon" class="ml-auto mr-2 3xl:mr-4" [buttonClasses]="'shrink-0 w-8 3xl:w-9 add-btn'" [buttonType]="'secondary-blue'" [buttonIcon]="'plus_icon-2'"></app-custom-button>
      <svg-icon data-e2e-id="overlay-panel-close-icon" (click)="closeOverlayPanel()" id="close_icon" [src]="'assets/icons/heroicons/outline/x.svg'"
        class="cross--icon cross-icon-button icon-gray text-24 leading-[1] cursor-pointer" [ngClass]="{'ml-auto':!overlayTitle}">
      </svg-icon>
      <ng-content select="[overlaySubTitle]"></ng-content>
    </div>
    <!-- modal body -->
    <div data-e2e-id="overlay-panel-body" id="modal-body" class="modal-body flex-auto overflow-hidden overlay-modal-spacing">
      <ng-content [select]="overlayComponent"></ng-content>
    </div>
    <!-- modal footer -->
    <div data-e2e-id="overlay-panel-footer" class="modal-footer flex-ic-jb px-2 3xl:px-4 gap-2.5 mt-2 3xl:mt-4 empty:hidden" *ngIf="showFooter">
      <button data-e2e-id="overlay-panel-primary-btn" id="primary-btn" *ngIf="showPrimaryButton"
        class="slb-btn h-12 flex-center p-0 slb-blue-outline w-full text-center rounded-full"
        [ngClass]="{'disabled pointer-events-none': !enablePrimaryButton}"
        (click)="primaryButtonClicked.emit()">{{primaryButtonLabel}}</button>
      <button data-e2e-id="overlay-panel-secondary-btn" id="secondary-btn" [disabled]="!enableSecondaryButton" *ngIf="showSecondaryButton"
        [ngClass]="!enableSecondaryButton ? 'slb-btn-disabled': 'btn-primary-blue'"
        class="save-changes-label slb-btn flex-centre p-0 h-12 w-full text-center rounded-full"
        (click)="secondaryButtonClicked.emit()">{{secondaryButtonLabel}}</button>
    </div>
  </div>
</div>

